html {
    box-sizing: border-box;
}
    
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: lightseagreen;
}

h1 {
    font-family: monospace;
    text-align: center;
    margin: 50px;
    color: white;
    font-size: 36px;
}

#content-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#color-picker {
    width: 90px;
    height: 40px;
    border: none;
    margin: 10px;
}

#color-picker:hover {
    cursor: pointer;
}

button {
    width: 90px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: monospace;
    font-weight: bold;
    margin: 10px;
}

button:hover{
    box-shadow: 0px 0px 4px 2px white;
    cursor: pointer;
}

button:active {
    color: black;
}

#slider{
    width: 90px;
    margin: 5px;
    accent-color: white;
}

#slider:hover {
    cursor: pointer;
}

#grid-size-text {
    color: white;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    margin: 20px;
}

#grid-container {
    width: 600px;
    height: 600px;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    cursor: crosshair;
    background-color: white;
}

.row {
    flex-grow: 1;
    display: flex;
}

.cell {
    flex-grow: 1;
    border: 1px solid black;
}


